@import "maps";
@import "variables";
@import "mixin";
@import "index";



.contenedorTextoPlanes {
    @extend .contenedorTextoPaginas;
}

.tarjetas__grid__layout {
    @include grid__layout;
}

.tarjeta__planes {
    @extend .tarjeta;
    .tarjeta__p__planes {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin: 30px 0px 0px 0px;
    }
    .precio {
        height: 60px;
        margin: 30px 0px;
        position: relative;
        text-align: center;
        font-size: 30px;
        span {
            color: rgb(189, 67, 67);
        }
    }
    
}
