@import "maps";
@import "variables";
@import "mixin";
@import "index";

.section__catalogoServicios {
    padding-bottom: 40px;
}

.contenedorTextoServicios {
    @extend .contenedorTextoPaginas;
}

.tajetas__grid__layout {
    @include grid__layout;
}

.tarjeta__servicios {
    @extend .tarjeta;
    .tarjeta__p__servicios {
        font-size: 20px;
        margin: 30px 0px 30px 0px;
    }
}