* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

html {
    font-size: 62.5%;
}


/* ESTILOS GENERALES DEL SITIO */

/* Contenedor es clase para limitar el contenido de la página a un 
ancho máxino */
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

/* Fin estilos contenedor */

/* Comienzo estilos menu social */
.menuSocial {
    height: 50px;
    background-color: #2F7DC2;
}

.menuSocial__ul {
    padding: 10px 30px;
    text-align: right;
}

.menuSocial__ul li {
    display: inline-block;
}

.menuSocial__ul li a {
    font-size: 20px;
    color: #292f36;
    padding: 8px;
}

/* Fin estilos menu social */

/* Comienzo estilos cabecera */
header {
    background-color: #2F7DC2;
    position: sticky;
    top: -1px;
    z-index: 5000;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}


.contenedor__header {
    width: 100%;
    height: 80px;
    position: relative;
}

/* Estilos logo */
.contenedor__logo {
    display: inline-block;
    position: absolute;
    height: 60%;
    margin: 16.5px 0px;

}

.contenedor__logo a {
    text-decoration: none;
}

.logo {
    font-size: 40px;
    font-weight: 700;
    color: #2F7DC2;
    background-color: #EFF3F5;
}

.logo1 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: #EFF3F5;
}

/* Fin estilos logo */

/* Comienzo estilos menu navegación  */
.contenedor__menu {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    margin: 30px 0px;
}

.menu {
    position: absolute;
    right: 0px;
    top: 30px;
}

.menu__ul li {
    display: inline-block;
    list-style-type: none;
    position: relative;
    margin: 0px 0px 0px 20px;
    z-index: 5000;
}

.menu__ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #EFF3F5;
    padding: 0px;
    text-align: right;
}

.menu__ul li a::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0%;
    height: 3px;
    width: 0%;
    background-color: #f9c10d;
}

.menu__ul li a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.menu__ul li a:hover:before {
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
}

/* MENU RESPONSIVE*/
#check {
    display: none;
}

.checkBtn {
    font-size: 30px;
    color: #EFF3F5;
    float: right;
    cursor: pointer;
    display: none;
}

/* FIN MENU RESPONSIVE*/


/* Fin estilos menu navegacion */

/* Fin estilos cabecera */

/* Estilos botones */
.btnPrimario {
    color: #292f36;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 18px 30px;
    border-radius: 30px;
    border: 1px solid #292f36;
}



.btnPrimario:hover {
    box-shadow: -3px 4px 14px 0px rgba(0, 0, 0, 0.63);
    transition: 0.3s;
    background-color: #f9c10d;
    color: #EFF3F5;
}

.btnPrimario:active {
    box-shadow: inset 0.5px 0.5px 5px 0px rgba(0, 0, 0, 0.63);

}

.btnNegativo {
    color: #eaeaea;
    border: 1px solid #eaeaea;
}

.btnNegativo:hover {
    color: #292f36;
    border: 1px solid #292f36;
}

/* Fin estilos botones */


/* Estilos footer */
footer {
    background-color: transparent;
    background-image: url(../multimedia/img/background-footer.svg);
    background-size: cover;
    overflow: hidden;
    padding-top: 150px;
    background-color: #3fa39c;
    margin-top: -1px;
}

.newsletter {
    margin: 30px 0px 800px 0px;
    text-align: center;
    font-size: 25px;
    color: #292f36;
}

.inputEmail {
    font-size: 20px;
    width: 300px;
}

.menuSocial__footer {
    background-color: #EFF3F5;
}

.newsletter__btn {
    font-size: 20px;
    background-color: #f9c10d;
    padding: 4px 10px;
    color: #292f36;
}

.lineaFooter {
    height: 50px;
    padding-bottom: 60px;
    border-bottom: 1px solid #292f36;
}

.copyright {
    padding: 10px 0px 40px 0px;
    height: 80px;
    text-align: center;
}

.info-contacto {
    height: 30px;
    padding-bottom: 30px;
}

.copyright span {
    font-size: 20px;
    color: #292f36;
}

/* Fin estilos footer */

/* FIN ESTILOS GENERALES DEL SITIO */

/* Comienzo estilos efecto wave */


.presentacion {
    overflow: hidden;
    height: 800px;
    background-color: #eff3f5;
    position: relative;
}



.background {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0px;
    left: 0;
    background: #389FF6;
    background: -webkit-linear-gradient(0deg, #389FF6 10%, #2F7DC2 80%);
    background: linear-gradient(0deg, #389FF6 10%, #2F7DC2 80%);

}

.wave {
    width: 6000px;
    height: 198px;
    position: absolute;
    left: 0;
    top: 55.5%;
    background-image: url(../multimedia/img/wd1.svg);
}

.w1 {
    animation: w1 7s linear infinite;
}

.w2 {
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
}

@keyframes w1 {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes desplazamiento {

    0%,
    100% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(10px);
    }
}

/* Fin estilos efecto wave */

/* Comienzo estilos seccion presentacion */


.contenedor__presentacion {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "presentacion__texto presentacion__img";
}

.presentacion__texto {
    grid-area: presentacion__texto;
    display: flex;
    flex-direction: column;
    position: relative;
}


.presentacion__texto__h1 h1 {
    text-align: left;
    color: #292f36;
    font-size: 60px;
    font-weight: 700;
    margin: 60px 0px 20px 0px;
}

.spanIdiomas {
    color: #f9c10d;
}

.presentacion__texto__h2 {
    color: #444;
    font-size: 20px;
    margin-bottom: 40px;
}

.btnMain {
    padding: 15px 60px;
    background-color: transparent;
    border: 1px solid #292f36;
}

.btnMain {
    display: inline-block;
    animation: scale linear 2s infinite;
}

@keyframes scale {

    0%,
    100% {
        transform: rotateZ(0deg);
    }

    30% {
        transform: rotateZ(3deg);
    }

    70% {
        transform: rotateZ(-3deg);
    }
}

.btnMain:hover {
    background-color: #f9c10d;
}



.presentacion__img {
    grid-area: presentacion__img;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



.imgPrincipal {
    width: 90%;
    height: 90%;
    animation: upDown 7s linear infinite;
}

@keyframes upDown {
    36% {
        transform: translateY(-10px);
    }

}

/* Fin estilos seccion presentacion */

/* Fin estilos descripcion sitio */

/* Estilos sección beneficios */

.seccionBeneficios {
    background-color: #eff3f5;
    overflow: hidden;
}

.beneficiosH2 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 60px;
}

.beneficiosP {
    font-size: 30px;
    text-align: center;
    padding-bottom: 100px;
}

.contenedorBeneficios {
    width: 80%;
    margin: auto;
    display: flex;
    flex-grow: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.beneficio1 {
    align-self: flex-start;
}

.beneficio2 {
    align-self: flex-end;
}

.beneficio3 {
    align-self: flex-start;
}

.beneficio4 {
    align-self: flex-end;
}

.beneficio5 {
    align-self: flex-start;
}


.beneficios {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    height: 200px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    transition: all .3s;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.beneficios:hover {
    transform: translateY(-10px) scale(1.04);
}

.beneficios:hover .beneficios__img img {
    transform: scale(1.1);
}

.contenedorDots {
    position: relative;
}

.dots1 {
    position: absolute;
    top: -55px;
    left: -160px;
    height: 160px;
    width: 150px;
    border-left: 5px dashed #5b63a4;
    border-bottom: 5px dashed #5b63a4;
    border-bottom-left-radius: 16px;
}

.dots2 {
    position: absolute;
    top: -55px;
    right: -160px;
    height: 160px;
    width: 150px;
    border-right: 5px dashed #5b63a4;
    border-bottom: 5px dashed #5b63a4;
    border-bottom-right-radius: 16px;
}

.beneficios__p {
    width: 200px;
}

.beneficios__img {
    display: flex;
    align-content: center;
    justify-items: center;
    width: 150px;
    overflow: hidden;
}

.beneficios__img,
.beneficios__p {
    display: inline-block;
}

.beneficios__p p {
    text-align: left;
    font-size: 20px;
}

.imgBeneficios {
    width: 100%;
    transition: all .3s;
}


@media screen and (max-width: 880px) {
    .contenedorBeneficios {
        align-items: center;
        gap: 80px;
    }

    .beneficio1, .beneficio2, .beneficio3, .beneficio4, .beneficio4 {
        align-self: center;
    }

    .dots1 {
        height: 60px;
        border-bottom: none;
        border-bottom-left-radius: 0px;
        left: 50%;
        top: -70px;
    }

    .dots2 {
        height: 60px;
        border-bottom: none;
        border-bottom-right-radius: 0px;
        right: 50%;
        top: -70px;
    }
}

@media screen and (max-width: 610px) {
    .beneficios {
        flex-direction: column;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 300px;
        height: 400px;
        border: 1px solid #5b63a4;
        border-radius: 30px;   
    }
}

.separador {
    margin-bottom: -5px;
}

/* Fin estilos sección beneficios */

/* Estilos catalogo de idiomas */

.catalogoIdiomas {
    background-color: #f9c10d;
    position: relative;
    height: 100vh;
}

.contenedorIdiomas-grid {
    display: grid;
    justify-content: center;
    column-gap: 16px;
    row-gap: 50px;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
        "grid__h2 grid__h2 grid__h2 grid__h2 grid__h2 grid__h2"
        "idioma1 idioma2 idioma3 idioma4 idioma5 idioma6";
}


.grid__h2 {
    grid-area: grid__h2;
}



.idiomas__h2 {
    font-size: 40px;
    text-align: center;
    color: #292f36;
    padding-bottom: 60px;
}


.idiomas {
    position: relative;
    display: inline-block;
    transition: all .3s;
}



.idiomas:hover .bandera {
    transform: scale(1.1) translateY(-10px);
}

.boxshadow {
    position: absolute;
    bottom: -30px;
    left: 5%;
    width: 90%;
    height: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    filter: blur(10px);
}

.bandera {
    width: 150px;
    transition: all .3s;
}

.idiomas p {
    text-align: center;
    font-size: 25px;
    color: #292f36;
    font-weight: bold;
    letter-spacing: 3px;

}

.waveIdiomas::after {
    content: "";
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: -1px;
    height: 20%;
    width: 100%;
    background-color: #292f36;
}

/* Fin estilos catalogo de idiomas */

/* Comienzo catálogo de planes */

.catalogoPlanes {
    background-color: #292f36;
}

.planes__grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-gap: 16px;
    row-gap: 16px;
    justify-items: center;
    align-content: center;
    grid-template-rows: auto auto;
    grid-template-areas:
        "planes__h2 planes__h2 planes__h2 planes__h2"
        "planes1 planes2 planes3 planes4";
}

.planes1 {
    grid-area: planes1;
}

.planes2 {
    grid-area: planes2;
}

.planes3 {
    grid-area: planes3;
}

.planes4 {
    grid-area: planes4;
}

.planes__h2 {
    grid-area: planes__h2;
    font-size: 40px;
    text-align: center;
    color: #EFF3F5;
    padding-bottom: 80px;
}

.planes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}


.card {
    display: flex;
    transition: all .3s;
}

.card:hover {
    transform: translateY(-10px) scale(1.1);
}

.card:hover .planes .planes__img img {
    transform: scale(1.1);
}


.planes__img {
    height: 150px;
    width: 220px;
    background-color: #f9c10d;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planes__img img {
    width: 80%;
    height: 90%;
    transition: all .3s;
}



.planes__h3 {
    color: #eaeaea;
    font-size: 30px;
    font-weight: bold;
    align-self: flex-start;
    padding: 10px;
}

.planes__p {
    color: #EFF3F5;
    font-size: 20px;
    width: 200px;
    height: 120px;
    align-self: flex-start;
}


.btnPlanes {
    display: block;
    border-radius: 16px;
    text-align: center;
}



/* Fin catálogo de planes */


/* Estilos catalogo de servicios */

.catalogoServicios {
    padding-bottom: 100px;
    background-color: #3fa39c;
    position: relative;
}

.contenedor__servicios-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 25%);
    grid-template-areas:
        "servicios__h2 servicios__h2"
        "imgServicios servicios1"
        "imgServicios servicios2"
        "imgServicios servicios3";
}


.servicios__h2 {
    grid-area: servicios__h2;
    font-size: 40px;
    color: #292f36;
    text-align: center;
    padding-bottom: 80px;
}

.imgServicios {
    grid-area: imgServicios;
    display: flex;
    align-items: center;
}

.servicios1 {
    grid-area: servicios1;
}

.servicios2 {
    grid-area: servicios2;
}

.servicios3 {
    grid-area: servicios3;
}

.imgServicios img {
    width: 90%;
}

.servicios {
    display: flex;
    flex-shrink: auto;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    width: 500px;
    padding: 10px;
    margin: 30px 45px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    transition: all .3s;
}


.servicios:hover {
    transform: translateY(-10px) scale(1.1);
}

.servicios:hover .serviciosImg img {
    transform: scale(1.1);
}

.serviciosImg {
    width: 120px;
    height: 120px;
    background-color: #EFF3F5;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImg {
    width: 90%;
    height: 90%;
    transition: all .3s;
}

.servicios__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 120px;
    width: 340px;
}

.servicios__h3 {
    color: #EFF3F5;
    height: 50px;
    font-size: 25px;
    text-align: left;
}



.btnServicios {
    padding: 10px 18px;
}





/* Fin estilos catalogo de servicios */

/* ESTILOS PÁGINA CURSOS */


.catalogoCursos {
    width: 100%;
    padding-top: 40px;
}

.catalogoCursos h1 {
    font-size: 50px;
    text-align: center;
    margin: 40px 0px 80px 0px;
    color: #EFF3F5;
}

.tarjetas__grid__layout {
    display: grid;
    justify-items: center;
    padding-bottom: 60px;
    column-gap: 20px;
    row-gap: 40px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* Estilos tarjeta vertical */
.tarjeta {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 16px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    transition: all .5s;
}

.tarjeta:hover {
    transform: translateY(-10px) scale(1.03);
}

.tarjeta__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #292f36;
    background-color: rgba(239, 243, 245, 0.822);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    border-radius: 16px;
}



.tarjeta__h3 {
    font-size: 30px;
    text-align: center;
    color: #292f36;
}

.tarjeta__p {
    color: #000;
    font-size: 18px;
    padding: 20px 10px;
    height: 80px;
    margin-bottom: 30px
}

.tarjeta__p p {
    margin-bottom: 20px;
}



.nivelModalidad {
    display: flex;
    height: 60px;
    width: 100%;
    margin: 40px 0px 30px 0px;
}

.nivelModalidad h3,
.idiomasDisponibles h3 {
    font-size: 20px;
    color: #f9c10d;
    padding-bottom: 10px;
}

.nivel, .modalidad {
    display: inline-block;
    width: 50%;
    padding-left: 10px;
}

.nivel li,
.modalidad li {
    list-style-type: none;
    font-size: 18px;
    color: #000;
}

.idiomasDisponibles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.listaIdiomas {
    color: #000;
    padding-bottom: 30px;
    display: flex;
    padding-left: 10px;
}

.izquierda,
.derecha {
    display: inline-block;
    width: 50%;
}


.izquierda li,
.derecha li {
    list-style-type: none;
    font-size: 18px;
}

.cursos__btn {
    display: block;
    width: 100%;
}

/* Fin estilos tarjeta vertical */

.datosContacto__Green {
    background-color: #3fa39c;
}

/* FIN ESTILOS PÁGINA CURSOS */


/* ESTILOS PÁGINA PLANES */

.background__gradient {
    background: rgb(63, 163, 156);
    background: linear-gradient(0deg, rgba(63, 163, 156, 1) 0%, rgba(42, 129, 123, 1) 100%);
}

.section__catalogoPlanes,
.contenedorTextoPlanes {
    padding: 40px;
}

.catalogoPlanes {
    padding-bottom: 100px;
}

.contenedorTextoPlanes h1 {
    font-size: 50px;
    color: #EFF3F5;
    text-align: center;
    padding: 40px 0px 20px 0px;
}

.contenedorTextoPlanes h2,
.contenedorTextoServicios h2 {
    font-size: 30px;
    color: #EFF3F5;
    text-align: center;
}


.tarjeta__p__planes {
    font-size: 18px;
    padding: 10px;
    height: 120px;
    margin-bottom: 50px
}





.precio {
    height: 60px;
    margin: 50px 0px;
    position: relative;
    text-align: center;
    font-size: 30px;
}

.precio__span {
    color: rgb(189, 67, 67);
}



/* FIN ESTILOS PÁGINA PLANES */

/* ESTILOS PÁGINA SERVICIOS */

.section__catalogoServicios,
.contenedorTextoServicios {
    padding-bottom: 40px;
}

.contenedorTextoServicios h1 {
    font-size: 50px;
    color: #EFF3F5;
    text-align: center;
    padding: 80px 0px 20px 0px;
}

.contenedorTextoServicios h2 {
    font-size: 30px;
    color: #EFF3F5;
    text-align: center;
    padding-bottom: 40px;
}

.tarjeta__p__servicios {
    height: 250px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px
}

.contenedorDatosContacto {
    padding: 20px 0px 100px 0px;
}

.contenedorDatosContacto h2 {
    font-size: 50px;
    color: #EFF3F5;
    text-align: center;
    padding-bottom: 40px;
}

.contenedorDatosContacto p {
    font-size: 20px;
    color: #EFF3F5;
    text-align: center;
}

.contenedorDatosContacto p a {
    color: #EFF3F5;
}

/* FIN ESTILOS PÁGINA SERVICIOS */


/* ESTILOS PÁGINA CONTACTO */

.backgroundContacto {
    color: #EFF3F5;
    padding-bottom: 100px;
}

.textoContacto {
    margin-bottom: 80px;
}

.titulosSeccion h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
}

.titulosSeccion h2 {
    font-size: 40px;
    padding-bottom: 80px;
    text-align: center;
}

.textoContacto h3 {
    font-size: 30px;
    text-align: left;
}

.textoContacto p {
    font-size: 20px;
}



/* Estilos formulario de contacto */




.contenedorForm {
    background-color: #EFF3F5;
    padding: 60px;
    color: #292f36;
    border-radius: 16px;
    box-shadow: -3px 4px 14px 0px rgba(0, 0, 0, 0.63);
    display: grid;
    column-gap: 20px;
    row-gap: 40px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "formulario formulario formulario texto texto"
        "mapa mapa mapa mapa mapa";
}

.textoComplementario {
    grid-area: texto;
    background-color: #292f36;
    padding: 20px;
    color: #EFF3F5;
    font-size: 20px;
}

.textoComplementario h3 {
    text-align: center;
    color: #f9c10d;
    padding-bottom: 30px;
}

.textoComplementario p {
    padding-bottom: 20px;
}

.positionForm {
    grid-area: formulario;
}

.ubicacionMaps {
    grid-area: mapa;
}


.contenedorFormSection {
    position: relative;
    --color: #5757577e;
    display: grid;
    justify-items: stretch;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "nombre correo"
        "mensaje mensaje"
        "btn btn";
}

.form__input {
    width: 100%;
    padding: 3px 0px;
    background: none;
    background: rgb(221, 229, 233);
    background: linear-gradient(0deg, rgba(221, 229, 233, 1) 0%, rgba(239, 243, 245, 1) 100%);
    color: #292f36;
    border: none;
    outline: none;
    font-family: 'Roboto flex', sans-serif;
    font-size: 20px;
    border-bottom: 1px solid var(--color);
}

.form__input:focus+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3fa39c;
}

.form__section {
    position: relative;
    font-size: 16px;
}

.form__label {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(5px);
    transition: transform .5s, color .3s;

}

.textArea {
    width: 207%;
}

.formBotones {
    grid-area: btn;
    display: flex;
    justify-content: center;
}


.btnForm {
    width: 100%;
    height: 30px;
    background-color: #f9c10d;
}


.btnForm:hover {
    box-shadow: -3px 4px 14px 0px rgba(0, 0, 0, 0.63);
    transition: 0.3s;
    color: #EFF3F5;
}

.btnForm:active {
    box-shadow: inset 0.5px 0.5px 5px 0px rgba(0, 0, 0, 0.63);

}

/* Fin estilos formulario de contacto */


/* Estilos Mapa */

.ubicacionMaps {
    width: 100%;
}

.ubicacionMaps iframe {
    width: 100%;
    box-shadow: -3px 4px 14px 0px rgba(0, 0, 0, 0.63);
}

@media screen and (max-width: 975px) {
    .contenedorForm {
        column-gap: 20px;
        row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "formulario"
            "texto"
            "mapa";
    }
}

/* fin estilos mapa */

/* FIN ESTILOS PÁGINA CONTACTO */

/* ESTILOS RESPONSIVE*/

/* TABLET */

@media screen and (max-width: 1100px) {

    .presentacion__texto__h1 h1 {
        font-size: 50px;
    }

    .presentacion__texto__h2 h2 {
        font-size: 40px;
    }

    .contenedorIdiomas-grid {
        row-gap: 70px;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 0.5fr 1fr;
        justify-content: center;
        grid-template-areas:
            "grid__h2 grid__h2 grid__h2"
            "idioma1 idioma2 idioma3"
            "idioma4 idioma5 idioma6";
    }

    .catalogoIdiomas {
        height: 100vh;
    }

    .idiomas {
        height: 200px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .planes__grid {
        grid-template-columns: auto auto auto;
        grid-template-rows: 0.5fr 1fr 1fr;
        row-gap: 50px;
        column-gap: 16px;
        grid-template-areas:
            "planes__h2 planes__h2 planes__h2"
            "planes1 planes2 planes3"
            ". planes4 .";
    }
}


@media screen and (max-width: 990px) {

    .logo,
    .logo1 {
        font-size: 35px;
    }

    .presentacion__img {
        display: none;
    }

    .contenedor__presentacion {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "presentacion__texto";
    }

    .presentacion__texto__h1 h1 {
        text-align: center;
        font-size: 80px;
    }

    .presentacion__texto__h2 {
        font-size: 35px;
        text-align: center;
        margin-bottom: 60px;
    }

    .presentacion__texto {
        margin-top: 80px;
        align-items: center;
    }

    .btnMain {
        padding: 20px 70px;
    }

    .imgServicios {
        display: none;
    }

    .contenedor__servicios-grid {
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 25%);
        grid-template-areas:
            "servicios__h2"
            "servicios1"
            "servicios2"
            "servicios3";
    }

    .planes__grid {
        row-gap: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
        grid-template-areas:
            "planes__h2 planes__h2"
            "planes1 planes2"
            "planes3 planes4";
    }
}

@media screen and (max-width: 850px) {
    .menuSocial {
        display: none;
    }

    .menuSocial__footer {
        display: block;
    }

    .checkBtn {
        display: block;
    }

    .menu__ul {
        position: fixed;
        top: 79px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #3fa39c;
        text-align: center;
        transition: all 0.5s;
    }

    .menu__ul li {
        display: block;
        margin: 30px 0px;
        padding: 22px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    }

    .menu__ul li a {
        font-size: 30px;
        width: 80px;
    }

    .menu__ul li a:hover {
        color: #f9c10d;
    }

    #check:checked~.menu__ul {
        top: 79px;
        left: 0%;
    }
}




/* FIN TABLET */

/* CELULAR */


@media screen and (max-width: 640px) {

    .presentacion__texto__h1 h1 {
        font-size: 40px;
    }

    .presentacion__texto__h2 h2 {
        font-size: 30px;
    }

    .planes__grid {
        justify-content: center;
        align-items: center;
        row-gap: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "planes__h2"
            "planes1"
            "planes2"
            "planes3"
            "planes4";
    }

    .card {
        width: 450px;
        height: 600px;
    }

    .planes {
        width: 450px;
        height: 600px;
        margin: auto;
    }

    .planes__img {
        width: 400px;
        height: 200px;
    }

    .planes__h3 {
        font-size: 40px;
        width: 450px;
        height: 50px;
        margin-top: 20px;
        text-align: center;
        align-self: center;
    }

    .planes__p {
        font-size: 30px;
        height: 150px;
        width: 350px;
        text-align: center;
        align-self: center;
    }

    .planes__btn {
        display: block;
        width: 300px;
        text-align: center;
    }

    .planes__btn a {
        font-size: 30px;
    }

    .servicios__h2 {
        width: 300px;
        padding-bottom: 20px;
        font-size: 30px;
    }

    .imgServicios {
        display: none;
    }

    .contenedor__servicios-grid {
        justify-content: center;
        row-gap: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        grid-template-areas:
            "servicios__h2"
            "servicios1"
            "servicios2"
            "servicios3";
    }

    .catalogoServicios {
        padding-bottom: 300px;
    }

    .cardServicios {

        height: 400px;
    }

    .servicios {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        height: 400px;
        width: 300px;
        padding: 5px 10px 20px 10px;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 16px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        transition: all .3s;
    }

    .serviciosImg {
        width: 250px;
        height: 150px;
        background-color: #EFF3F5;
        border-radius: 16px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .cardImg {
        width: 90%;
        height: 90%;
        transition: all .3s;
    }

    .servicios__texto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
        width: 250px;
    }

    .servicios__h3 {
        color: #EFF3F5;
        font-size: 30px;
        text-align: center;
    }



    .btnServicios {
        text-align: center;
        padding: 15px 18px;
        display: block;
        margin-top: 40px;
    }

    .contenedorFormSection {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        gap: 20px;
        grid-template-areas:
            "nombre"
            "correo"
            "mensaje"
            "btn";
    }

    .textArea {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .presentacion__texto__h1 h1 {
        text-align: center;
        font-size: 40px;
    }

    .presentacion__texto__h2 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 60px;
    }

    .presentacion__texto {
        margin-top: 80px;
        align-items: center;
    }

    .btnMain {
        padding: 20px 70px;
    }

    .catalogoIdiomas {
        height: 260vh;
    }

    .contenedorIdiomas-grid {
        justify-items: center;
        row-gap: 70px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "grid__h2"
            "idioma1"
            "idioma2"
            "idioma3"
            "idioma4"
            "idioma5"
            "idioma6";
    }

    .waveIdiomas::after {
        height: 5%;
    }


    .planes__h2 {
        height: 80px;
        width: 350px;
        font-size: 30px;
    }

    .card {
        width: 300px;
        height: 450px;
    }

    .planes {
        width: 300px;
        height: 450px;
        margin: auto;
    }

    .planes__img {
        width: 260px;
        height: 130px;
    }

    .planes__h3 {
        font-size: 30px;
        width: 250px;
        height: 50px;
        margin-top: 10px;
        text-align: center;
        align-self: center;
    }

    .planes__p {
        font-size: 25px;
        height: 100px;
        width: 250px;
        text-align: center;
        align-self: center;
    }

    .planes__btn {
        display: block;
        width: 200px;
        text-align: center;
    }

    .planes__btn a {
        font-size: 20px;
    }

    .wavePlanes {
        height: 100px;
        width: 100%;
        position: absolute;
        top: -1px;
        left: 0px;
    }

    .servicios__h2 {
        width: 300px;
        padding-top: 80px;
        padding-bottom: 20px;
        font-size: 30px;
    }
}

/* FIN CELULAR */


/* FIN ESTILOS RESPONSIVE */